.choosingBottom,
.deckContainer {
    padding: calc(var(--global) * 3);
    box-sizing: border-box
}

.choosingPage {
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr
}

.choosingTop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--global) * 2);
    position: relative
}

.submitButtons {
    position: absolute;
    right: calc(var(--global) * 3);
    bottom: calc(var(--global) * 3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: calc(var(--global) * 1)
}

.deckContainer,
.numSubmissions {
    justify-content: center;
    display: flex
}

.timerText {
    font-weight: 500;
    font-size: calc(var(--global) * 2.75)
}

.choosingBottom {
    height: 50vh
}

.deckContainer {
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: calc(50vh - var(--global) * 6);
    outline: calc(var(--global) * .2) solid white;
    border-radius: calc(var(--global) * 1);
    background: rgb(0 0 0 / 50%);
    font-weight: 500;
    font-size: calc(var(--global) * 5);
    position: relative
}

.numSubmissions {
    position: absolute;
    inset: 0;
    align-items: center;
    z-index: 1
}

.cardsContainer {
    display: flex;
    gap: calc(var(--global) * 1);
    position: relative
}

.submitButton {
    border: none;
    outline: 0;
    height: calc(var(--global) * 6.5);
    width: calc(var(--global) * 18);
    border-radius: calc(var(--global) * 1);
    color: #fff;
    font-weight: 500;
    font-size: calc(var(--global) * 2.75);
    transition: transform .4s;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5
}

.submitBack,
.submitFront {
    margin: auto;
    padding-inline: calc(var(--global) * 3);
    position: absolute;
    inset: 0;
    display: flex;
    border-radius: calc(var(--global) * 1)
}

.submitFront {
    background: #0f0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden
}

.submitBack {
    background: red;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transform: rotateX(180deg);
    backface-visibility: hidden
}

.chooseButton,
.chosen {
    font-size: calc(1890vh / 88 / 8);
    inset: calc(var(--global) * -0.75);
    border-radius: calc(1890vh / 1760 + var(--global)/ 2)
}

.chosen {
    opacity: 1;
    cursor: unset
}