.resultsPage {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
}
.resultsContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.historyContainer {
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: calc(var(--global) * 5);
    gap: calc(var(--global) * 2);
    box-sizing: border-box;
}
.header {
    font-size: calc(var(--global) * 5);
    font-weight: 500;
}
.history {
    display: flex;
    max-width: 100%;
    padding: calc(var(--global) * 3);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: calc(75vh - var(--global) * 6);
    gap: calc(var(--global) * 3);
    outline: calc(var(--global) * 0.2) solid white;
    border-radius: calc(var(--global) * 1);
    background: rgb(0 0 0 / 50%);
}
.submission {
    display: flex;
    width: 100%;
    gap: calc(var(--global) * 3);
    justify-content: space-between;
}
.submissionCards {
    display: flex;
    width: 100%;
    justify-content: center;
}
.leaderboard {
    display: flex;
    flex-direction: column;
    gap: calc(var(--global) * 2);
    width: 50vw;
    font-size: calc(var(--global) * 3);
}